.AdminLogin{
    background-color: rgb(156, 156, 156);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.AdminLogin h1{
    margin-bottom: 30px;
    color: #292929;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-bottom: 2px solid rgb(94, 94, 94);
}

.AdminLoginForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
  }
  
  .AdminLoginForm  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  .AdminLoginForm  input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .AdminLoginForm  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }
  
.AdminLoginForm  button:hover {
    background-color: #1b601e;
  }
  